<form [formGroup]="paymentForm" (ngSubmit)="onSubmit()">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              Payment Details
            </h3>
          </div>
          <div class="panel-body">
            <!-- <form>  -->
            <div class="form-group">
              <label for="cardNumber">Card Number</label>
              <div class="input-group">
                <input type="text" class="form-control" id="cardNumber" placeholder="Valid Card Number"
                  formControlName="cardnumber" />
                <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-7 col-md-7">
                <div class="form-group">
                  <label for="expityMonth">EXPIRY DATE</label>
                  <div class="col-xs-5 col-lg-6 pl-ziro">
                    <input type="text" class="form-control" id="expityMonth" placeholder="MM"
                      formControlName="expirymonth" />                     
                  </div>
                  <div class="col-xs-5 col-lg-6 pl-ziro">
                    <input type="text" class="form-control" id="expityYear" placeholder="YY"
                      formControlName="expirydate" />
                  </div>
                </div>
              </div>
              <div class="col-xs-5 col-md-5 pull-right">
                <div class="form-group">
                  <label for="cvCode">
                    CV CODE</label>
                  <input type="password" class="form-control" id="cvCode" placeholder="CV" formControlName="cvvcode" />
                </div>                
              </div>              
            </div>
            <div class="form-group">
                <label for="cardholdername">Card Holder Name</label>
                <div class="input-group">
                  <input type="text" class="form-control" id="cardholdername" placeholder="Valid Card Number"
                    formControlName="cardholdername" />
                  <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                </div>
              </div>
            <!-- </form>  -->
          </div>
        </div>
        <!-- <ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="#"><span class="badge pull-right"><span class="glyphicon glyphicon-usd"></span>4200</span> Final Payment</a>
        </li>
      </ul> -->
        <br />
        <!-- <a href="http://www.jquery2dotnet.com" class="btn btn-success btn-lg btn-block" role="button">Pay</a> -->
        <button class="btn btn-success btn-lg btn-block" >Pay - <span class="badge pull-right"><span class="glyphicon glyphicon-usd"></span>{{amount}}</span></button>
      </div>
    </div>
  </div>
</form>