<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="list-group">
        <a *ngFor="let flight of searchedflightlist" (click)="selectedFlight(flight)" href="javascript:void(0);"
          class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="row">
            <div class="col-lg-1"><img src="{{ flight.airlineLogo }}" alt="" class="gws-flights-results__airline-logo"
                height="50" width="50"></div>
            <div class="col-lg-6">
              <h5>{{flight.airlineName + " - " + flight.fromCityName + " To " + flight.toCityName  }}</h5>
            </div>
            <div class="col-lg-2">
              <h5 class="mb-1">{{ flight.departTimeSource | date:'HH:mm' }} - {{ flight.arrivalTimeDestination | date:'HH:mm' }} </h5>
            </div>
            <div class="col-lg-3">
              <h5 class="mb-1">Rs. {{flight.flightPrice }}<p class="float-right"><small><b> {{ flight.flightDuration }} hrs</b></small></p>
              </h5>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-11">
              <p class="mb-1"><b>Features:</b> Leg Space: {{ flight.legSpace == true ? "Yes" : "No" }} | Entertainment:
                {{flight.isFlightEntertainmentAvailable == true ? "Yes" : "No"}} | Wifi: {{ flight.isWifiAvailable == true ? "Yes" : "No"}} | Meal:
                {{ flight.isMealAvailable == true ? "Yes" : "No"}}</p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>